<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<!--<button-->
<!--        type="button"-->
<!--        class="btn btn-success w-auto mb-2"-->
<!--        data-bs-toggle="modal"-->
<!--        data-bs-target="#addNewProduct"-->
<!--&gt;-->
<!--  Add new product-->
<!--</button>-->


<section>
  <div class="container mt-2 text-center">
    <a href="/carts" class="btn btn-outline-info">GO TO CART</a>
    <h1>PRODUCT LIST</h1>
    <div class="row row-cols-md-3 row-cols-2 justify-content-center gy-2 gx-3" id="tableStudent">
      <div th:each="product : ${products}">
        <div class="col">
          <div class="row justify-content-center">
            <div class="card" style="width: 17rem">
              <a th:href="@{/products/details/{id}(id = ${product.id})}">
                <img
                        th:src="${product.image}"
                        class="card-img-top text-center product-img"
                        alt="merch"
                />
              </a>

              <div class="card-body">
                <a class="link link-offset-2-hover text-black fs-5"
                   href="products?action=details&id=${product.getId()}" th:text="${product.name}">

                </a>
                <p class="card-text">€<span th:text="${product.price}"></span> EUR</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Modal add new product -->
<div class="modal fade" id="addNewProduct" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel3">Create new product!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/products?action=create" method="post">
        <div class="modal-body">

          <div class="mb-3">
            <label for="name" class="col-form-label">New product name:</label>
            <input name="name" type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">New product price:</label>
            <input name="price" type="number" class="form-control" step="0.01" id="price">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">New product description:</label>
            <textarea name="description" class="form-control" id="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="image" class="col-form-label">New product image:</label>
            <input name="image" type="text" class="form-control" id="image">
          </div>
          <div class="mb-3">
            <label for="product-type" class="col-form-label"
            >Product type:</label
            >
            <select name="type" class="form-select" id="product-type">
              <option value="merch">Merch</option>
              <option value="music">Music</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button name="no" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button name="yes" type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>