<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4bf93b0ca4.js" crossorigin="anonymous"></script>


    <!--     Link to the Bootstrap CSS file -->
    <link rel="stylesheet" href="/bootstrap520/css/bootstrap.min.css">
    <script src="/bootstrap520/js/bootstrap.min.js"></script>
    <!--     Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha384-KWI/x1YonRENGIFUfdTvf/zUoVZiE8OgDmKNu8VAnmQUDf1G/+x0yTHvYbD0b6Q6"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>

<section class="my-2">

    <div class="my-3 px-5 row justify-content-between">
        <div class="col-6">
            <a class="btn btn-success" href="/blogs">BACK TO BLOGS</a>
            <a class="btn btn-success" href="/categories">SHOW ALL CATEGORIES</a>
            <a class="btn btn-success" href="/categories/create">Create New Category</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>No.</th>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, status : ${categories}">
            <td th:text="${status.count}"></td>
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/categories/update/{id}(id = ${category.id})}" class="btn btn-secondary">UPDATE</a>
                <a role="button" class="btn btn-outline-danger"
                   th:attr="onclick=|remove('${category.id}', '${category.name}')|"
                   data-bs-toggle="modal" data-bs-target="#modelId">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</section>



<!-- Modal delete account-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Are you sure to delete this category:
                    <span class="deleteName text-danger"></span><span> ?</span>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <form th:action="@{/categories/delete}" method="post">
                    <input type="hidden" name="id" id="deleteId">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function remove(id, name) {
        console.log(id)
        console.log(name)
        document.getElementById("deleteId").value = id;
        document.querySelector(".deleteName").innerText = name;
    }
</script>


<!-- Modal success -->
<div class="modal fade" id="modal-success" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 th:text="${message}"></h4>
            </div>
            <div class="modal-footer">
                <button name="no" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script th:if="${message}">
    // Get the modal element
    let myModal = document.querySelector("#modal-success");

    // Create a new Modal instance
    let modal = new bootstrap.Modal(myModal);

    // Show the modal
    modal.show();
</script>
<!-- end -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>